.blog-box__item-text {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.blog-box__date {
  color: rgba(6, 6, 6, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.text__item-title {
  padding-bottom: 24px;
  color: #101828;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.text__item-paragraph {
  font-size: 18px;
}

.text__item-subtitle {
  color: #101828;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: inherit;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img, svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  color: #060606;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.bg-about {
  background: url(../images/About\ bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-blog {
  background: url(../images/Blog\ bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.article-bg {
  background: url(../images/article/articlebg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.title-top {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
}

.title-medium {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-transform: capitalize;
}

.small-title {
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.inner {
  padding-top: 144px;
}

.color-orange {
  color: #f97b22;
}

.button-offer {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: rgba(249, 123, 34, 0.98);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.04px;
}

.reviews-arrow:active,
.reviews-arrow:hover,
.carousel-arrow:active,
.carousel-arrow:hover {
  color: #fff;
  background-color: #f97b22;
}

.menu__list-link:hover,
.menu__list-link:active {
  transition: color 0.5s ease-in-out;
}

.menu__list-link:hover,
nav button.active {
  color: #f97b22;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.menu__list {
  display: flex;
  gap: 32px;
  align-items: center;
}
.menu__list-link {
  font-weight: 500;
  letter-spacing: -0.256px;
}
.menu__list-exit {
  font-size: 15px;
  font-weight: 700;
}
.menu__btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #f97b22;
}
.menu__btn-text {
  color: #f97b22;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.04px;
}

.menu__btn .menu__btn-text {
  color: #f97b22;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.04px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(10, 20, 47, 0.06);
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__logo {
  width: 97px;
  height: 76px;
}
.footer__info-tel {
  margin-top: 8px;
}
.footer__info-email {
  font-size: 14px;
}
.footer__right {
  display: flex;
  gap: 32px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__social-item {
  width: 176px;
  font-size: 14px;
  opacity: 0.75;
}
.footer__social-title {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 24px;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 32px;
}
.footer__copyright-link {
  display: flex;
  font-size: 14px;
  opacity: 0.75;
  gap: 65px;
  padding-right: 5px;
}

.top__inner {
  padding: 72px 0;
}
.top__inner-text {
  text-align: center;
  padding: 24px 104px 48px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 49px;
}

.form-btn {
  width: 168px;
  height: 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #f97b22;
  font-size: 14px;
  letter-spacing: -0.04px;
  color: #fff;
  border-radius: 0px 8px 8px 0px;
}

select {
  align-items: center;
  width: 73px;
  margin: 14px 16px;
}

.form form {
  border: 1px solid #e7e8e9;
  border-radius: 8px;
  padding-left: 16px;
}

.option,
form {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.bg {
  margin: 0 auto;
  width: 100%;
}

.bg__image {
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
}

.quality__block {
  display: flex;
  align-items: flex-end;
  gap: 73px;
  padding-top: 56px;
}
.quality__left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 73px;
}
.quality__left-item {
  width: 135px;
}
.quality__left-number {
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
}
.quality__left-text {
  color: #414141;
  font-size: 24px;
  line-height: 32px;
}
.quality__right {
  width: 592px;
  line-height: 24px;
}

.tab-pane {
  display: none;
}

.tab-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-content: center;
}

.block.double-width {
  grid-column: span 2; /* This will make the block take up 2 columns */
  grid-row: span 2; /* This will make the block take up 2 rows */
}

.tab-pane.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.tabs {
  display: flex;
  gap: 16px;
  align-items: center;
}

.tab {
  height: 24px;
  display: flex;
  padding: 10px 24px 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 46px;
  border: 1px solid #e7e8e9;
  font-size: 14px;
}

.icon-tab {
  width: 24px;
  height: 24px;
}

.tab.active {
  background: #f97b22;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
}

.service__tabs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;
  font-size: 14px;
  font-weight: 600;
}

.block {
  display: flex;
  width: 248px;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #e7e8e9;
  background: url(../images/Home/bg-tab-block.png);
  background-size: cover;
}

.service__block-img {
  width: 48px;
  height: 48px;
  padding-bottom: 24px;
}

.service__block-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 8px;
}

.service__block-text {
  font-size: 14px;
  align-self: stretch;
}

.process__inner {
  display: flex;
  align-items: center;
  gap: 136px;
}
.process__left {
  width: 592px;
  padding: 44px 0;
}
.process__right-blocks {
  display: flex;
  width: 488px;
  align-items: flex-start;
  gap: 40px;
}
.process__nums {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.process__nums-line {
  width: 2px;
  height: 88px;
  border-radius: 100px;
  background: linear-gradient(180deg, #ff8b25 -22.16%, #ff8b25 44.01%, #e7e8e9 44.02%);
}
.process__nums-item {
  width: 28px;
  height: 28px;
  border: 1px solid #e7e8e9;
  border-radius: 50%;
  text-align: center;
}
.process__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.process__info-item {
  display: flex;
  padding: 17px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 384px;
}
.process__info-text {
  color: #475467;
  font-size: 14px;
}

.quote {
  margin: 160px 0;
}
.quote__title {
  text-align: center;
  font-family: Raleway;
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  text-transform: uppercase;
  max-width: 800px;
  margin: 0 auto;
}

.job__inner {
  padding-bottom: 64px;
}
.job__inner-block {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.job__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}
.job__left-text {
  width: 592px;
}

.collage {
  margin: 0 auto;
  width: 100%;
}
.collage__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 32px;
  -moz-column-gap: 56px;
       column-gap: 56px;
  height: 464px;
  overflow: hidden;
}
.collage__one {
  grid-row: span 2;
  width: 328px;
  height: 464px;
}
.collage__two-top {
  padding-top: 40px;
  width: 392px;
  height: 264px;
}
.collage__three {
  width: 360px;
  height: 384px;
  grid-row: span 2;
  padding-top: 80px;
}
.collage__four {
  grid-row: span 2;
  width: 193px;
}
.collage__four-top {
  height: 240px;
  padding-bottom: 32px;
}
.collage__four-bottom {
  width: 193px;
  height: 192px;
}

.blog-box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 54px;
}
.blog-box__top-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.blog-box__top-text {
  font-weight: 500;
  text-transform: capitalize;
}
.blog-box__top-img {
  width: 20px;
  height: 20px;
}
.blog-box__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.blog-box__item {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e7e8e9;
  background: #fff;
}
.blog-box__img-link {
  border-radius: 12px 12px 0px 0px;
}
.blog-box__link-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}
.blog-box__item-title {
  padding: 16px 0 0;
}
.blog-box__item-text {
  padding: 12px 0 20px;
}
.blog-box__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-box__blocks-text {
  font-size: 14px;
  font-weight: 600;
}

.partners__inner {
  margin: 138px 0 142px;
}
.partners__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 64px;
}
.partners__blocks-text {
  color: #5a5a5a;
  width: 49%;
}

.carousel__slide-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__slide-img {
  margin: 20px 35px;
  width: 104px;
  height: 104px;
}

.carousel-container,
.carousel__container {
  position: relative;
  width: 100%;
  height: 226px;
  overflow: hidden;
}

.carousel-slide,
.carousel__slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fade 1s;
}

.carousel-slide.active,
.carousel__slide.active {
  display: block;
}

.reviews-arrows,
.carousel-arrows {
  position: absolute;
  right: 0;
}

.carousel-arrows {
  padding-top: 191px;
}

.reviews-arrow,
.carousel-arrow {
  width: 32px;
  height: 32px;
  display: inline-block;
  transition: background-color 0.5s ease;
  border-radius: 35px;
  border: 1px solid #f97b22;
  margin-left: 10px;
  color: #f97b22;
}

.reviews__inner-flex {
  display: flex;
  justify-content: space-between;
  gap: 104px;
}
.reviews__title {
  width: 40%;
}
.reviews__inner {
  width: 592px;
}

.reviews-slide {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviews-slide-author {
  display: flex;
  gap: 14px;
}
.reviews-slide-img {
  width: 36px;
  height: 36px;
  padding: 6px 0;
}
.reviews-block-name {
  font-size: 14px;
  font-weight: 700;
}
.reviews-block-text {
  color: #4e4e4e;
  font-size: 14px;
}
.reviews-arrows {
  position: absolute;
  bottom: 0;
}

.partners__blocks-text {
  width: 592px;
}

.question__inner {
  padding: 150px 0;
}
.question__items {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.question__deploy-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.question__subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  width: 776px;
}
.question__deploy[open] {
  border-radius: 15px;
  background: rgba(249, 123, 34, 0.26);
  padding: 24px;
}
.question__deploy:not([open]) {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  padding: 24px;
}
.question__deploy[open] .deploy__arrow {
  transform: rotate(270deg);
}
.question__info {
  width: 776px;
}

.deploy__arrow {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-radius: 100px;
  background: #fff;
}

.question__deploy summary::-webkit-details-marker,
.question__deploy summary::before {
  content: none;
}

.question__deploy summary {
  list-style: none;
}

.descriptoin__inner {
  padding: 71px 0 56px;
}

.women-img,
.bg-team__inner {
  max-height: 604px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.why__img {
  width: 32px;
  height: 32px;
  padding-bottom: 16px;
}

.advantages__inner-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 73px;
}
.advantages__inner-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px 0;
}
.advantages__subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.advantages__text {
  color: #595959;
  font-size: 14px;
  font-style: normal;
}

.asset__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding-top: 56px;
}
.asset__item {
  padding: 24px 16px;
  border-radius: 12px;
  border: 1px solid #e7e8e9;
  background: url(../images/Home/bg-tab-block.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.photo {
  overflow: hidden;
}
.photo__inner {
  margin: 88px 0 144px;
  width: 100%;
}
.photo__items {
  display: flex;
  gap: 56px;
  align-items: end;
}
.photo__item {
  width: 100%;
  height: 100%;
}

.photo-first-top,
.photo__four-top {
  padding-bottom: 32px;
}

.founder {
  position: relative;
  margin: 0 auto;
}
.founder__inner-left {
  margin: 0 auto;
  width: 100%;
}
.founder__inner {
  display: flex;
  justify-content: space-between;
  gap: 112px;
}
.founder__inner-img {
  position: absolute;
  left: 0;
}
.founder__inner-right {
  width: 592px;
}
.founder__subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px; /* 160% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 4px 0 24px;
}

.about-form__inner {
  padding: 144px 0;
}
.about-form__block {
  padding: 48px 103px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 0px 16px -4px rgba(16, 24, 40, 0.08);
}
.about-form__inner-title {
  align-items: start;
  width: 1010px;
}
.about-form__inner-title select {
  align-items: center;
  width: 140px;
  margin: 14px 16px;
}
.about-form__title {
  padding-bottom: 48px;
}

.blog-top__inner {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.article__data {
  font-weight: 600;
}

.article-top__img {
  padding-top: 57px;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 516px;
}

.text__items {
  padding: 0 104px 34px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.text__item-paragraph {
  font-size: 18px;
}
.text__item-subtitle {
  padding-bottom: 16px;
}
.text__item-conclusion {
  display: flex;
  padding: 32px 32px 40px 32px;
  flex-direction: column;
  border-radius: 16px;
  background: #F9FAFB;
}
.text__writer {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid #eaecf0;
}
.text__writer-inner {
  display: flex;
  align-items: center;
  gap: 16px;
}
.text__writer-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.text__writer-position {
  color: #595959;
  font-weight: 400;
  line-height: 24px;
}
.text__link-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.text__link {
  padding: 10px 16px;
  display: flex;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #e7e8e9;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.text__link-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.text__link-social {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e7e8e9;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.services-top__inner {
  padding: 72px 0 56px;
}

.slider {
  height: 551px;
  padding-top: 88px;
}

.job__left-width {
  width: 487px;
}

.profitably__text-items {
  padding-top: 24px;
  color: #595959;
}/*# sourceMappingURL=style.css.map */